{% extends "base.html.twig" %}

{% block title %}
    {{ word.dutch }} in het {{ language }}
{% endblock %}

{% block metadescription %}
    <meta name="description" content="Bekijk hier de vertaling van {{ word.dutch }} in het {{ language }}.">
{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>{{ word.dutch|capitalize }} vertaald in het {{ language }}</h1>

            <p>{{ word.dutch|capitalize }} vertaald in het {{ language }} is {{ translation }}</p>

            <p>
                Bekijk de vertaling van {{ word.dutch }} ook in het
                <a href="{{ path('translation_by_slug_in_specific_language', {'language': 'duits', 'slug': word.slug }) }}">Duits</a>,
                <a href="{{ path('translation_by_slug_in_specific_language', {'language': 'engels', 'slug': word.slug }) }}">Engels</a>,
                <a href="{{ path('translation_by_slug_in_specific_language', {'language': 'frans', 'slug': word.slug }) }}">Frans</a>,
                <a href="{{ path('translation_by_slug_in_specific_language', {'language': 'spaans', 'slug': word.slug }) }}">Spaans</a>
                en
                <a href="{{ path('translation_by_slug_in_specific_language', {'language': 'italiaans', 'slug': word.slug }) }}">Italiaans</a>.
            </p>
        </div>
    </div>

    <aside>
        <div class="row mb-3">
            {% include 'translation/category_words_partial.html.twig' with {'category':word.category} only %}
        </div>
    </aside>

{% endblock %}