{% extends "base.html.twig" %}

{% block title %}
    {{ ingredient.name }}
{% endblock %}

{% block body %}

    <h1>{{ ingredient.name|capitalize }}</h1>

    <div class="row mb-3">
        <div class="col-md-8">
            <p>De smaak van {{ ingredient.name|lower }} is goed te combineren met:</p>

            <ul>
                {% for combination in ingredient.ingredients %}
                    <li>
                        <a href="{{ path('combination', {slug: combination.slug}) }}">{{ combination.name }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>

        <div class="col-md-4">
{#            <ul>#}
{#                <li>rechts</li>#}
{#                <li>denk</li>#}
{#                <li>ik</li>#}
{#            </ul>#}
        </div>
    </div>

    <aside>
{#        category here in een rijtje van drie.#}
{#        <div class="row mb-3">#}
{#                <div class="col-md-4">#}
{#                   een#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                   twee#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                   drie#}
{#                </div>#}
{#        </div>#}
    </aside>

{% endblock %}