{% extends "base.html.twig" %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block categories %}
    <ul class="tags clearfix">
        <li><a href="{{ path('tag', {slug: 'vlees'}) }}">Vlees</a></li>
        <li><a href="{{ path('tag', {slug: 'vis'}) }}">Vis</a></li>
        <li><a href="{{ path('tag', {slug: 'groenten'}) }}">Groenten</a></li>
        <li><a href="{{ path('tag', {slug: 'biologisch'}) }}">Biologisch</a></li>
        <li><a href="{{ path('tag', {slug: 'vegetarisch'}) }}">Vegetarisch</a></li>
        <li><a href="{{ path('tag', {slug: 'klassiekers'}) }}">Klassiekers</a></li>
        <li><a href="{{ path('tag', {slug: 'gastronomie'}) }}">Gastronomie</a></li>
        <li><a href="{{ path('tag', {slug: 'naslagwerk'}) }}">Naslagwerk</a></li>
        <li><a href="{{ path('tag', {slug: 'specialistisch'}) }}">Specialistisch</a></li>
    </ul>
{% endblock %}



{% block body %}

    <h1>{{ product.title }}</h1>
    <p class="subtitle">{{ product.subTitle }}</p>
    <p><em>{{ product.quote }}</em></p>

    <div class="row mb-3">
        <div class="col-md-8">
            {% if product.imgCover is not empty %}
            <div class="book-cover-image">
                  <img src="{{ product.imgCover }}" alt="Cover van {{ product.title }}">
            </div>
            {% endif %}

            <div class="description">{{ product.descLong|raw }}</div>
        </div>

        <div class="col-md-4 right-box">
            <p class="price">{{ product.price|price }}</p>

            <p class="savings">(En dat was {{ product.listPrice|euro }})</p>

            <a href="http://partnerprogramma.bol.com/click/click?p=1&t=url&s=10517&url=http%3A//www.bol.com/nl/s/boeken/zoekresultaten/Ntt/{{ product.isbn13 }}/Nty/1/N/8299+8293/Ne/8299+8293/search/true/searchType/qck/sc/books_nl_isbncode/index.html%3F_requestid%3D28246&f=TXL&name={{ product.isbn13 }}">Bestellen</a>

            {% if product.author is not empty %}
                <div>
                    <a href="{{ path('author', {'id': product.author.id }) }}">
                        {{ product.author.firstName }} {{ product.author.lastName }}
                    </a>
                </div>
            {% endif %}

            <p class="other-info">{{ product.isbn13 }}</p>
            <p class="other-info">KBS ID: {{ product.kbsId }}</p>


        </div>
    </div>

    <ul class="tags">
        {% for tag in product.tags %}
            <li>
                <a href="{{ path('tag', {slug: tag.name}) }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <aside>
        related book here
    </aside>

{% endblock %}