{% extends "base.html.twig" %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block categories %}
    <ul class="tags clearfix">
        <li><a href="{{ path('tag', {slug: 'vlees'}) }}">Vlees</a></li>
        <li><a href="{{ path('tag', {slug: 'vis'}) }}">Vis</a></li>
        <li><a href="{{ path('tag', {slug: 'groenten'}) }}">Groenten</a></li>
        <li><a href="{{ path('tag', {slug: 'biologisch'}) }}">Biologisch</a></li>
        <li><a href="{{ path('tag', {slug: 'vegetarisch'}) }}">Vegetarisch</a></li>
        <li><a href="{{ path('tag', {slug: 'klassiekers'}) }}">Klassiekers</a></li>
        <li><a href="{{ path('tag', {slug: 'gastronomie'}) }}">Gastronomie</a></li>
        <li><a href="{{ path('tag', {slug: 'naslagwerk'}) }}">Naslagwerk</a></li>
        <li><a href="{{ path('tag', {slug: 'specialistisch'}) }}">Specialistisch</a></li>
    </ul>
{% endblock %}

{% block body %}

    <h1>{{ product.title }}</h1>
    <p class="subtitle">{{ product.subTitle }}</p>
    <p><em>{{ product.quote }}</em></p>

    <div class="row mb-3">
        <div class="col-md-8">
            {% if product.imgCover is not empty %}
            <div class="bordered-padded book-cover-image">
                  <img src="{{ product.imgCover }}" alt="Cover van {{ product.title }}">
            </div>
            {% endif %}

            <div class="description">{{ product.descLong|raw }}</div>
        </div>

        <div class="col-md-4 right-box">
            <p class="price">{{ product.price|price }}</p>
            <p class="supplier">Levering via bol.com</p>

            <div class="product-basket-button">
                <a href="http://partnerprogramma.bol.com/click/click?p=1&t=url&s=10517&url=http%3A//www.bol.com/nl/s/boeken/zoekresultaten/Ntt/{{ product.isbn13 }}/Nty/1/N/8299+8293/Ne/8299+8293/search/true/searchType/qck/sc/books_nl_isbncode/index.html%3F_requestid%3D28246&f=TXL&name={{ product.isbn13 }}">Bestellen</a>
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </div>

            {% if product.author is not empty %}
                <div class="person">
                    <p>{{ product.title }} is een kookboek van <a href="{{ path('author', {'id': product.author.id }) }}">{{ product.author.firstName }} {{ product.author.lastName }}</a>.</p>
                    {% if product.author.image is not empty %}
                        <img src="/images/img_authors/{{ product.author.image }}" alt="{{ product.author.firstName }} {{ product.author.lastName }}">
                    {% endif %}
                </div>
            {% endif %}

            {% if product.photographer is not empty %}
                <div class="person">
                    <p>De fotografie is gedaan door {{ product.photographer.firstName }} {{ product.photographer.lastName }}.</p>
                </div>
            {% endif %}

            {% if product.translator is not empty %}
                <div class="person">
                    <p>De vertaling is verzorgd door {{ product.translator.firstName }} {{ product.translator.lastName }}.</p>
                </div>
            {% endif %}

            {% if product.illustrator is not empty %}
                <div class="person">
                    <p>De illustraties zijn verzorgd door {{ product.illustrator.firstName }} {{ product.illustrator.lastName }}.</p>
                </div>
            {% endif %}


            <ul class="list no-list">
                <li>ISBN: <strong>{{ product.isbn13 }}</strong></li>
                <li>{{ product.appearance }} {{ product.binding }}</li>
                <li>Pagina's: <strong>{{ product.pages }} pagina's</strong></li>
                <li>Jaar van uitgave: <strong>{{ product.year }}</strong></li>
{#                <li>KBS: <strong>{{ product.kbsId }}</strong></li>#}
            </ul>


        </div>
    </div>

    <ul class="tags">
        {% for tag in product.tags %}
            <li>
                <a href="{{ path('tag', {slug: tag.name}) }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <aside>
        <!-- related books here  -->
    </aside>

{% endblock %}