{% extends "base.html.twig" %}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block body %}

    <h1>{{ recipe.title|capitalize }}</h1>

    <div class="row mb-3">
        <div class="col-md-8">
            <p>{{ recipe.introduction|raw }}</p>
            <p>{{ recipe.ingredients|raw }}</p>
            <p>{{ recipe.description|raw }}</p>
        </div>

        <div class="col-md-4">
            {% if recipe.product is not null %}
                <p>Dit recept komt uit <a href="{{ path('product', {'slug': recipe.product.slug}) }}">{{ recipe.product.title }}</a>.</p>
                {% else %}
                <p>sfyjsgdhb</p>
            {% endif %}
        </div>
    </div>

    <aside>
        category here in een rijtje van drie.
        <div class="row mb-3">
                <div class="col-md-4">
                   een
                </div>
                <div class="col-md-4">
                   twee
                </div>
                <div class="col-md-4">
                   drie
                </div>
        </div>
    </aside>

{% endblock %}