{% extends "base.html.twig" %}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block metadescription %}
    <meta name="description" content="Bekijk hier het recept voor {{ recipe.title|capitalize }} uit {{ recipe.product.title }}.">
{% endblock %}

{% block body %}

    <h1>{{ recipe.title|capitalize }}</h1>

    <div class="row mb-3">
        <div class="col-md-8">
            {{ recipe.introduction|raw }}
            {{ recipe.ingredients|raw }}
            {{ recipe.description|raw }}
        </div>

        <div class="col-md-4">
            {% if recipe.product is not null %}
                {% include 'product/tile.html.twig' with {'product':recipe.product} only %}
            {% endif %}
        </div>
    </div>

    {#<aside></aside>#}

{% endblock %}
